* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .logo {
  width: 110px;
  padding: 2px;
  flex-wrap: wrap;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(223, 220, 220);
  cursor: pointer;
}

.app2 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
}
.app2 .left {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app2 .left .icon-container {
  width: 100%;
  height: 60px;
  padding: 15px 50px;
}
.app2 .left .icon-container i {
  font-size: 30px;
  cursor: pointer;
}
.app2 .left .user-list {
  border: 1px solid black;
  width: 450px;
  list-style: none;
  padding: 40px;
  height: 350px;
  overflow-y: auto;
  margin-top: 30px;
  border-radius: 50px;
}
.app2 .left .user-list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.app2 .left .user-list li img {
  border-radius: 50%;
}
.app2 .left .user-add-form {
  width: 450px;
  margin-top: 30px;
  padding: 20px 0;
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.app2 .left .user-add-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app2 .left .user-add-form form div {
  display: flex;
  justify-content: space-between;
}
.app2 .left .user-add-form form .btn {
  justify-content: flex-end;
}
.app2 .left .user-list::-webkit-scrollbar {
  display: none;
}
.app2 .left .button {
  display: flex;
  margin-top: 20px;
  width: 450px;
  justify-content: flex-end;
  padding-right: 30px;
}
.app2 .right {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
